 .note-bg {
  background-image: url("https://www.freepnglogos.com/uploads/note-png/stickies-note-image-pixabay-32.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}